html {
    scroll-behavior: smooth;
}

header .collapse .nav-link:hover {
    color: green !important;
}

header .collapse .nav-link::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: green;
    width: 0;
    height: 2px;
    transition: all .5s;
}

header .collapse .nav-link:hover::before {
    width: 100%;
}

header .collapse a.active {
    color: green !important;
}

header .collapse .active::before {
    width: 100%;
}

.cyber_carousel .carousel-item .carousel_content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.cyber_carousel .carousel-item .carousel_content img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.cyber_carousel .carousel-item::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(39, 42, 54, 0.5);
}

.carousel-indicators [data-bs-target] {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    border: none;
}

.cyber_project .container {
    padding: 0 110px;
}

.cyber_project .nav button.active {
    background-color: green;
    color: white !important;
    border-color: green !important;
}

.cyber_project .row .project_item {
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    border-radius: 20px 20px 12px 12px;
    margin-bottom: 30px;
}

.cyber_project .row .project_item img {
    width: 100%;
    border-radius: 20px 20px 0 0;
}

.cyber_project .row .project_item .project_item_text {
    padding: 20px 15px 30px 15px;
    border: 1px solid transparent;
    border-radius: 0 0 12px 12px;
    border-top: none;
    transition: all .5s;
}

.cyber_project .row .project_item:hover .project_item_text {
    border-color: green;
}

.cyber_project .row .project_item .project_item_text h3 {
    font-size: 20px;
    font-weight: 500;
    margin: 0 0 8px;
}

.cyber_available {
    background-image: url('./image/3.jpg');

    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.cyber_available .container {
    padding: 50px 100px;
}

.cyber_available::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(7, 10, 12, .72);
}

.cyber_available .availalble_content .available_item {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: 40px 70px !important;
}

.backToTop {
    position: fixed;
    bottom: 38px;
    right: 38px;
    background-color: red;
    color: white;
    width: 68px;
    height: 68px;
    line-height: 68px;
    text-align: center;
    border-radius: 12px;
    opacity: 0;
    visibility: hidden;
}

.cd-top--is-visible {
    visibility: visible;
    opacity: 1;
}

.cd-top--fade-out {
    opacity: .5;
}


@keyframes zoomOut {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

@media screen and (max-width:1260px) {

    /* #header .nav-brand span { */
    #header .navbar-brand span {
        color: pink !important;
    }
}
